<% provide(:title, 'About') %>

			
					<div class="inner">
						<h1>Welcome to Nutrifacts.</h1>
						<p>This website is an ongoing project by Ethan Washbourne, currently a 
							 student of General Assembly's Web Development Immersive program.</p>
						<p>
							Contact:
							<a href="#">Ethan Washbourne</a>
						</p>
					</div>
		
	
	



