<% provide(:title, 'About') %><body>
	<div class="site-wrapper">
		<div class="site-wrapper-inner">
			<div class="cover-container">
				<%= render 'layouts/header' %>
					<div class="inner">
						<p>
							Contact:
							<a href="#">Ethan Washbourne</a>
						</p>
					</div>
				</div>
			</div>
	</div>
</body>	
	



