<% provide(:title, 'About') %>

			
<a name="about"></a>
  <div class="intro-header">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="intro-message">
          	<div class="intro-message">
          		<h1>Welcome to Nutrifacts.</h1>
          		<h3>This is an ongoing project of Ethan Washbourne, a current student of General Assembly's
          			Web Development Immersive.</h3>
          		<hr class="intro-divider">
							<p>This website is built with Ruby on Rails and Bootstrap.</p>
						</div>
			  	</div>
       	</div>
      </div>
   </div>
  </div>
		
	
	



