<% provide(:title, 'Home') %>

<a name="about"></a>
  <div class="intro-header">
    <div class="container">

      <div class="row">
        <div class="col-lg-12">
          <div class="intro-message">
          	<div class="intro-message">
          		<h1>NUTRIFACTS</h1>
          		<h3>Your one-stop source for nutritional information.</h3>
          		<hr class="intro-divider">
								<a href="/signup" class="btn btn-lg btn-default">Sign Up</a>	
						</div>
			  	</div>
       	</div>
      </div>
   
   </div>
  </div>

 <a name="services"></a>
  <div class="content-section-a">
  	<div class="container">
  		<div class="row">
  			<div class="col-lg-5 col-sm-6 section-a-text">
  				<hr class="section-heading-spacer">
  				<div class="clearfix"> </div>
  					<h2 class="section-heading">Check out our search feature.</h2>
  					<p class="lead">Search by food, brand, and restaurant. Learn about the nutritional content of simple grocery store items or your favorite fast food restaurants. Save your searches for
  						later reference.</p>
  				</div>
  				<div class="col-lg-5 col-lg-offset-2 col-sm-6 section-a-image">
  					<img class="img-responsive" src="/images/food_image_hand.jpg">
  				</div>
  			</div>
  		</div> 	
  	</div>
  </div>






