<body>	
	<div class="site-wrapper">
		<div class="site-wrapper-inner">
			<div class="cover-container">
				<%= render 'layouts/header' %>
					<div class="inner">
						
						<h1>Search</h1>
						<%= render 'shared/search' %>
						<div>
						
					</div>
				</div>
			</div>
	</div>
</body>	