<div class="site-wrapper">
	<div class="site-wrapper-inner">
		<div class="cover-container">
			<div class="inner">
				<h1>Search</h1>
				<div class="col-md-6 food-search">
					<%= form_tag search_path, :method => 'get' do %>
						<%= text_field_tag :food, params[:food] %>
						<%= submit_tag "Search", :name => nil %>
					<% end %>
				</div>
			
				<% @foods.each do |food| %>
					<%= render 'food_facts/result', food: food %>
				<% end %>
			</div>
		</div>
	</div>
</div>
