<div class="intro-header">
	<div class="container">
  	<div class="row">
  		 <div class="search-page">
  			
				<h1>Search</h1>
				<div class="col-lg-3"></div>
				<div class="col-md-6 col-offset-3 food-search">
					<%= form_tag search_path, method: 'get' do %>
						<%= text_field_tag :food, params[:food] %>
						<%= submit_tag "Submit Search", :name => nil %>
					<% end %>
				</div>
				
				<div class="col-lg-3"></div>
				<div class="col-md-6 col-offset-3	search-results">
					<% @foods.each do |food| %>
						<%= render 'food_facts/result', food: food %>
					<% end %>
				</div>
	
			</div>		
		</div>
	</div>
</div>
