<body>	
	<div class="site-wrapper">
		<div class="site-wrapper-inner">
			<div class="cover-container">
				<%= render 'layouts/header' %>
					<div class="inner">
						
							<%= @user.name %>, <%= @user.email %>
						
					</div>
				</div>
			</div>
	</div>
</body>	

